body {
	margin: 0;
	padding: 0;
}
#svgWrapper {
	position: fixed;
	top: -100%;
	left: -100%;
	width: 300%;
	height: 300%;
	text-align: center;
	z-index: -1;
}
#svgWrapper svg {
	/*max-height: 50%;*/
	/*max-width: 50%;*/
	vertical-align: middle;
}
.helperSpanToAlignImageVertically {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
#fps {
	position: fixed;
	color: #ddd;
	font-size: 100%;
	bottom: 1%;
	right: 1%;
}
.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
.x.axis path {
	display: none;
}
.line {
	fill: none;
	stroke: red;
	stroke-width: 1.5px;
}
.particle {
	fill: none;
	stroke: steelblue;
	stroke-width: 0.5px;
}
.orientationBaseline {
	fill: none;
	stroke: black;
	stroke-width: 1px;
}
.distributionCurve {
	cursor: crosshair;
}

.menu {
	position: absolute;
	list-style: none;
	display: block;
	top: 10%;
	margin: 0;
	padding: 0;
	z-index: 3;
}
.mLeft { left: 0; }
.mRight { right: 0; }
.menu li {
    position: relative;
    /*display: block;*/
	padding: 5px;
	background: rgba(0, 0, 0, 0.0);
    white-space: nowrap;
	cursor: pointer;
	-moz-user-select: none;
	transition: background 300ms ease-in-out, box-shadow 300ms ease-in-out;
}
.menu li:hover {
	background: rgba(210, 210, 210, 0.8);
}
.menu li img {
	display: block;
	border-radius: 5px;
}
.liSliderWrapper {
	position: absolute;
	display: none;
	width: 215px;
	height: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	background-color: #eee;
}
.sliderLeft { left: 100%; }
.sliderRight { right: 100%; }
.liSlider {
	width: 200px;
	vertical-align: middle;
}
.menu li:hover div {
    display: inline-block;
}




.hidden {
	display: none;
}
.toggledOn {
	background-color: #555 !important;
}
#dsvg {
	position: fixed;
	left: 10%;
	top: 10%;
	width: 80%;
	height: 80%;
}
#dsvg svg {
	width: 20%;
	height: 100%;
}