body {
	margin: 0;
	padding: 0;
}
#svgWrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
}
#svgWrapper svg {
	max-height: 50%;
	max-width: 50%;
	vertical-align: middle;
}
.helperSpanToAlignImageVertically {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
.rotating {
    -webkit-animation: rotating 2s linear infinite;
}
.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
.x.axis path {
	display: none;
}
.line {
	fill: none;
	stroke: red;
	stroke-width: 1.5px;
}
.particle {
	fill: none;
	stroke: steelblue;
	stroke-width: 0.5px;
}
.orientationBaseline {
	fill: none;
	stroke: black;
	stroke-width: 1px;
}
